/* AnswerForm.css */

#grid_answer{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr 4fr 1fr;
  height: 100vh;
  grid-template-areas:
      "header"
      "section"
      "footer";
  width: 380px;
  margin:auto;
  /* border: 1px solid #969FAA; */
}

.header_answer{ 
    display: block;
    width: 282px;
    margin:auto;
    padding-top:30px; 
    padding-bottom:10px;
  }

.h1{
    font-size: 14px;
    color: rgb(150,159,170);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
  }

.title_pbm{
    display: flex;
    align-items: center;
    margin: auto;
    width: 282px;
    /* border:1px solid black; */
  }

.title_pbm .h1{
    padding-left: 10px;
  }


/*======= DESKTOP FORMAT =======*/
@media screen and (min-width:960px){
  /* Grid size in desktop format */

  #grid_answer{
    width: 760px;
    /* border: 1px solid #969FAA; */
  }

  .header_answer{ 
    width: 400px;
  }

  .title_pbm{
    width: 400px;
    /* border:1px solid black; */
  }

} 