/* AnswerForm.css */
/* Tout est à revoir sur la priorité des CSS */
.header_answer{ 
    display: block;
    width: 250px;
    margin:auto;
    padding-top:10px; 
    padding-bottom:10px;
    
  }

.h1{
    font-size: 14px;
    color: rgb(150,159,170);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
  }