.backbutton_container {
    margin: auto;
    /* border: 1px solid black; */
}

.button_back {
    font-family: "Montserrat", sans-serif;
    height: 45px;
    width: 282px;
    margin: 0px auto;
    margin-top: 11px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    background-color: #BDC3C7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    }

  .button_back:hover {
    background-color: rgb(202,207, 210);
  }

  .button_back:active {
    background-color: rgb(161,166, 169);
  }
