
/* Form.css */

/* Textarea */
/* .general_container .answer_container {
    margin-top: 18px ; 
    border: 1px solid black;
    text-align: center;
  }  */

  input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    border: 1px solid #969FAA;
    box-sizing: border-box;
    color: #7e7e7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    /* height: 190px; */
    margin-top: 30px;
    outline: none;
    padding: 6px;
    resize: none;
    width: 305px;
}


/* Validate button */
/* .validate_container {
    margin: auto;
    border: 1px solid black;
} */

.button_validate {
    background: none rgb(255, 189, 74);
    border: none;
    border-radius: 5px;  
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 45px;
    margin: 0px auto;
    margin-top: 50px;
    outline: none;
    text-align: center;
    width: 282px;
    }

  .button_validate:hover {
    background-color: rgb(72, 201, 176);
  }

  .button_validate:active {
    background-color: rgb(22, 160, 133);
  }



/* Back button */
/* .backbutton_container {
    margin: auto;
    border: 1px solid black;
} */

.button_back {
    background-color: #BDC3C7;  
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 45px;
    margin: 0px auto;
    margin-top: 11px;
    outline: none;
    text-align: center;
    width: 282px;
    }

  .button_back:hover {
    background-color: rgb(202,207, 210);
  }

  .button_back:active {
    background-color: rgb(161,166, 169);
  }

  /* .navlink {
    color: white;
    text-decoration: none;
  } */