.formCenter {
    display:flex;
    justify-content: center ;
}

.buttonAction{
    border: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.numbForm {
    align-items: center;
    /* color: #7e7e7e !important; */
    display: flex;
    /* font-size: 20px !important; */
    margin: 0px;
    /* margin-bottom: 10px; */
}

.numbForm p{
    margin-right: 5px;
}   

.button_add, .button_remove{
    background:none;
    border: none;
}

.button_add{
    color: green;
    font-size: 10vw;
}

.button_remove{
    color: red;
    font-size: 10vw;
}


.inputAction{
    color: #7e7e7e !important;
    max-width:  95vmin !important;
}

