/* ForwardStep.css */

.forward_step_container {
  margin: auto;
  margin-top: 100px;
  /* border: 1px solid black; */
}

.buttonForward_Step {
  background: none rgb(255, 189, 74);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;  
  font-size: 14px;
  height: 45px;
  /* margin: auto; */
  /* margin-top: 300px; */
  /* margin-bottom: 10px; */
  text-align: center;
  outline: none;
  width: 282px;
  }

.buttonForward_Step:hover {
  background-color: rgb(72, 201, 176);
}

.buttonForward_Step:active {
  background-color: rgb(22, 160, 133);
}
