.button_symptom3 {
    background: none;
    border: 1px solid rgb(150, 159, 170);
    border-radius: 3px;
    color: rgb(150, 159, 170);
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    margin: 31px auto;
    padding: 0px;
    width: 282px;
  
  }