/* body{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif; 
  font-size: 14px;
}
#grille{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:2fr 4fr 1fr;
  height: 100vh;
  grid-template-areas:
      "header"
      "section"
      "footer";
  width: 380px;
  margin:auto;
}
header,section,footer{
  background-color:rgb(55, 115, 184);
  text-align: center;
}
header{
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 24px;
  color: rgb(255, 189, 74);
  font-family: 'Lato', sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}
.white{
  color:white;
}

.height10 {
  height: 10px;
}
.height20 {
  height: 20px;
}

section{
  grid-area: section;
}
footer{
  grid-area: footer;
} */
/* To position the entire form */
#formulaire{
  width: 300px;
  margin: auto;
  /* border: 1px solid black; */
}
::placeholder{
  font-family: 'Montserrat', sans-serif;
}
/* Formatting text, email and password fields */
input[type="text"],input[type="email"],input[type="password"] {
  width: 250px;
  padding: 15px;
  height: 52px;
  font-size: 14px;
  box-sizing: border-box; /* To force the size of the input to enter in its parent */
  border:none;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  outline: none;
}
/* Focus on the text, email and password fields of the form */
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus {
  border-color: rgb(255, 189, 74);
  box-shadow: 0 0 10px 0 rgb(255, 189, 74);
}
/* Formatting the submit button */
input[type="submit"]{
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  padding: 15px;
  height: 52px;
  font-size: 14px;
  background-color:rgb(255, 189, 74);
  color: rgb(255, 255, 255);
  border:none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
/* Submit button focus */
input[type="submit"]:focus{
  background-color: rgb(72, 201, 176);
  outline: none;
}
/* Formatting the Sign up button */
input[type="button"]{
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  padding: 15px;
  height: 52px;
  font-size: 14px;
  background-color: #BDC3C7;
  color: rgb(255, 255, 255);
  border:none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
/* Sign up button focus */
input[type="button"]:focus{
  background-color: rgb(202, 207, 210);
  outline: none;
}

/*------------- DESKTOP FORMAT -------------*/
@media screen and (min-width:960px){
  /* Grid size in desktop format */
  #grille{
      width: 760px;
  }

  #formulaire{
    width: 400px;
    /* border: 1px solid black;  */
  }

  /* Formatting text, email and password fields */
  input[type="text"],input[type="email"],input[type="password"] {
      width: 400px;
  }

  /* Formatting the submit button */
  input[type="submit"]{
    width: 400px;
  }
  
  /* Formatting the Sign up button */
  input[type="button"]{
    width: 400px;
  }

}
