.page_width_height {
  min-height: 100vh;
  width:100vw;
}

.padding_height {
  padding-bottom: 109px; /*Ajouté*/
  padding-top:102px; /*Ajouté*/
}

#grid_login{
  display:grid;
  /* grid-template-areas: <Ajouté>
      "header"
      "section"
      "footer";
  grid-template-columns: 1fr;
  grid-template-rows:2fr 4fr 1fr; */
  margin:auto;
  /*width: 100VW; responsive page width*/
}

.header_login{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto; /*Ajouté*/
  /*width: 100vw; Ajouté - Anciennement 380px*/
}

.h1_login{
  color: rgb(255, 189, 74);
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 10px;
  text-transform: uppercase;
}








