
.pass_continue  {
color: gold !important;
cursor: pointer;
text-decoration: underline;
}
.belief_image {
  display: grid;
  margin: auto;
  margin-top:24px;
}
  
.modal_main1 p {
  color:white;
  /* display: grid; */
  grid-auto-columns: 1fr;
  grid-gap: 30px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  width: 284px;
  /* color: white;  */
  }
.modal_main1{
  background-color: rgba(55, 115, 184, 0.9);
  height: 155vh;
  position: absolute;
  top: 0;
  width: 380px;
  z-index: 1;
}
.modal_closed{
  cursor: pointer;
  margin: 0;
  text-decoration: underline;
}

.modal_main1{
  display:block;
} 

.modaloff1 {
  display: none;
}