
 .modal_main {
  background-color: rgba(55, 115, 184, 0.9);
  /* height: 100%; */
  min-height: 120vh;
  opacity: 20%;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.modal_text {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 30px;
  margin: 0 auto;
  margin-top: 213px;
  width: 284px;
  text-align: center;
  color: white; 
  }

  .modal_text p {
  margin: 0;
  color: white;
  }

  /* .count {
    margin-top: 25px;
  } */

  .pass p {
  cursor: pointer;
  color: gold;
  text-decoration: underline;
  }

  .modaloff {
  display: none;
  }

  @media screen and (min-width:768px){
       
    /* .containersource2 {
      display: block;
      text-align: center;
      width: 380px;
    } */
  
    
    .modal_main {
      /* display: block; */
      text-align: center;
      width: 380px;
    }
  }