
 .modal_main {
  background-color: rgba(55, 115, 184, 0.9);
  position: absolute;
  opacity: 20%;
  z-index: 1;
  width: 461px;
  height: 100%;
}

.modal_text {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 30px;
  margin: 0 auto;
  margin-top: 213px;
  width: 284px;
  text-align: center;
  color: white; 
  }

  .modal_text p {
  margin: 0;
  color: white;
  }

  /* .count {
    margin-top: 25px;
  } */

  .pass p {
  cursor: pointer;
  color: gold;
  text-decoration: underline;
  }

  .modaloff {
  display: none;
  }