.start {
    width: 380px;
    margin: 0px auto;
    height: 756px;
}

.header_mainProb {
    text-align: center;
    color: rgb(150, 159, 170)
}

.heading_text {
    max-width: 282px;
    max-height: 105px;
    margin: 0 auto;

}

.display-modal {
    display: flex;
    justify-content: space-around;
    
}

.Goal_modal {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    height: 250px;
    align-items: center;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.25);
    box-shadow: rgb(170, 170, 170) 2px 2px 4px 0px ;
    width: 318px;
    height: 250px;
    margin: 0 auto;
}
.icon_Goal {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.modal_Cards p {
    margin: 0 auto;
    max-width: 282px;
    color: rgb(150, 159, 170)
}
.icon_symp {
    margin-top: 30px;
}
.Problem_modal {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    height: 250px;
    align-items: center;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.25);
    box-shadow: rgb(170, 170, 170) 2px 2px 4px 0px ;
    width: 318px;
    height: 250px;
    margin: 0 auto;
}
.icon_problem {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.modal_Cards button {
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    height: 45px;
    width: 145px;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(245, 188, 72);
    margin-bottom: 10px;
}

.button {
    /* height: 90px; */
    width: 130px;
    cursor: pointer;
    text-align: center;
    color: rgb(150, 159, 170);
}

.image_icon {
    width: 64px;
    height: 64px;
    
    
    
}
