@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.modal-display-block {
    display: block;
  }
  
.modal-display-none {
    display: none;
  }

.headerText , .modalText, .header_mainProb {
    text-align: center;
    color: rgb(150, 159, 170);
    font-size: 14px;
    font-family: Lato;
}

.displayModalText {
    text-align: center;
    color: rgb(150, 159, 170);
    font-size: 14px;
    font-family: Lato;
    font-weight: bold
}

.startContainer {
    width: 380px;
    margin: 0px auto;
    height: 756px;
}

.displayModalCentered {
    width: 150px;
    text-align: center
}


.display-modal {
    display: flex;
    justify-content: space-around;
    
}


.icon_Goal {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.modal_Cards p {
    margin: 0 auto;
    max-width: 282px;
    color: rgb(150, 159, 170)
}
.icon_symp {
    margin-top: 30px;
}
.Problem_modal {
    position: fixed;
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    top: 40%;
    right: 41%;
    align-items: center;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.25);
    box-shadow: rgb(170, 170, 170) 2px 2px 4px 0px ;
    width: 318px;
    height: 250px;
    margin: 0 auto;
}
.icon_problem {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.modal_Cards button {
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    height: 45px;
    width: 145px;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(245, 188, 72);
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    /* height: 90px; */
    cursor: pointer;
    text-align: center;
    color: rgb(150, 159, 170);
}
.modal_Cards button:hover {
    background-color: rgb(95, 201, 177);
    
}

.image_icon {
    display: inline-block;
    text-align: center;
}

