.Recap_container {
    display: flex;
    width: 282px;
    margin: 0 auto;
    /* margin-top: 20px; */
    min-height: 85px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed ;

}

.Action_container {
    width: 225px;
} 

.Validate_picture {
    height: 50px;
    width: 50px;
}
