.formActionBlock {
    display: flex;
    width: 282px;
    margin: 0 auto;
    /* margin-top: 20px; */
    height: 85px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed ;

}

.formActionInput {
    width: 225px;
} 

.formActionIcon {
    height: 50px;
    width: 50px;
}

/* .blo img {
    height: 50px;
    width: 50px;
    
} */