.containerSource2_environment {
    color: rgb(150, 159, 170);
    display: grid;
    justify-content: center;
  
  }
  
  .logoText {
    font-size: 14px;
    margin: 30px 75px auto 75px;
    text-align: center;
  }
  
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    height: 30vh;
    margin: auto 50px 30px 50px;
    margin-top: 19px;
    text-align: center;
  }
  
  .image_icon {
    width: 60px;
  }
  
  .text {
    text-align: center;
  }
  
  .iconLink{
    background: none;
    border: none;
    color: rgb(150, 159, 170);
    cursor: pointer;
  
  }
  
  .button_source2_environment {
    background: none;
    border: 1px solid rgb(150, 159, 170);
    border-radius: 3px;
    color: rgb(150, 159, 170);
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    height: 45px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 150px;
    
    }