.containersource2 {
    color: rgb(150, 159, 170);
    display: grid;
    justify-content: center;
    width: 461px;
    margin: auto;
  
  }
  
  .logoTextSymptome3 {
    font-size: 14px;
    margin: 30px 75px auto 75px;
    text-align: center;
    width: 282px;
    
  }
  
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    height: 40vh;
    margin: auto 50px 30px 50px;
    margin-top: 5px;
    text-align: center;
    grid-gap: 25px;
  }
  
  .image_icon {
    width: 60px;
  }
  
  .text {
    text-align: center;
  }
  
  .iconLink{
    background: none;
    border: none;
    color: rgb(150, 159, 170);
    cursor: pointer;
  
  }
  
  .button_source2 {
    background: none;
    border: 1px solid rgb(150, 159, 170);
    border-radius: 3px;
    color: rgb(150, 159, 170);
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    height: 45px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 150px;
    
    }

    .modal_main {
      background-color: rgba(55, 115, 184, 0.9);
      position: absolute;
      opacity: 20%;
      z-index: 1;
      width: 380px;
      height: 100%;
    }

    .modal_text {
      display: grid;
      grid-auto-columns: 1fr;
      grid-gap: 30px;
      margin: 0 auto;
      margin-top: 213px;
      width: 284px;
      text-align: center;
      color: white; 
    }
    .modal_text p {
      margin: 0;
      color: white;
    }

    /* .count {
      margin-top: 25px;
    } */

    .pass p {
      cursor: pointer;
      color: gold;
      text-decoration: underline;
    }

    .modaloff {
      display: none;
    }