.containerSymptom3 {
  color: rgb(150, 159, 170);
  display: grid;
  width: 461px;
  margin: auto;
}

.logoTextSymptom3 {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}
.textSymptom3Header{
  margin: 14px 60px 0px 60px;
}

.iconsSymptom3 {
  background: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  height: 45vh;
  margin: 35px;
  margin-top: 19px;
  text-align: center;

}

.iconLinkSymptom3 {
  background: none;
  border: none;
  cursor: pointer;
}

.imageIconSymptom3 {
  width: 60px;
}



.textSymptom3 {
  background: none;
  border: none;
  color: rgb(150, 159, 170);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;

}

.button_symptom3 {
  background: none;
  border: 1px solid rgb(150, 159, 170);
  border-radius: 3px;
  color: rgb(150, 159, 170);
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  height: 45px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 282px;

}