.containerSymptome3 {
  color: rgb(150, 159, 170);
  display: grid;
  justify-content: center;

}

.logoText {
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  height: 60vh;
  margin: 35px;
  margin-top: 19px;
  text-align: center;
}

.image_icon {
  width: 60px;
}

.text {
  text-align: center;
}

.button_symptome3 {
  background: none rgba(127, 149, 235, 0);
  border: 1px solid rgb(150, 159, 170);
  border-radius: 3px;
  color: rgb(150, 159, 170);
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  height: 45px;
  line-height: 1;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 282px;
  
  }