.containerSource2Environment {
    color: rgb(150, 159, 170);
    display: grid;
    margin: auto;
    width: 380px;
}
  .noMarginText {
    margin: 0rem 5rem 0.5rem;
    justify-content: center;
    text-align: center;
  }
  
 